.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffff6b;
}

.wrapper-pad {
  padding: 40px 30px;
  background: #ffee58;
  border-radius: 5%;
  box-shadow: 0px 16px 49px -28px rgba(0, 0, 0, 0.75);
}
