@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.item {
  min-width: 350px;
  height: 45px;
  margin-bottom: 15px;
  background: whitesmoke;
  font-weight: 400;
  font-size: 25px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  line-height: 40px;
  transition: all 0.2s ease;
}

.item:hover {
  cursor: pointer;
  color: #fff;
  background: #ec0101;
}
